@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    background: #252525;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
    position: fixed;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

nav .menu {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav .menu li a {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    font-size: 17px;
    transition: all .5s ease;
}

nav .menu li a:hover,
nav .menu li a.active {
    color: #fff;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 150px;
    height: 500px;
    gap: 50px;
}

.section-1 .image {
    flex: 50%;
}

.section-1 .image img {
    width: 590px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.section-1 .texts {
    flex: 50%;
}

.section-1 .texts h1 {
    font-size: 40px;
}

.section-1 .texts button {
    font-size: 17px;
    border-radius: 5px;
    background: rgb(36, 36, 207);
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.section-1 .texts button:hover {
    background: rgb(74, 74, 209);
}

.section-2 {
    background: rgb(93, 135, 200);
    background: linear-gradient(90deg, rgba(93, 135, 200, 1) 50%, rgba(0, 95, 255, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 20px 150px;
    border-radius: 10px;
    color: #fff;
}
.section-3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 20px 150px;
}
.section-3 .card{
    border: solid 2px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 300px;
}
.section-3 .card .texts{
    padding: 15px;
}
.section-3 .card .button{
    width: 100%;
    border-top: solid 2px rgba(0, 0, 0, .5);
    padding: 15px;
}
.button button{
    background: rgb(36, 36, 207);
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease;
}
.section-3 .button button:hover {
    background: rgb(74, 74, 209);
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: #252525;
    color: #fff;
}
